#title {
    text-align: center;
    font-family: Arial, Helvetica, sans-fantasy;
    font-size: 30px;
}

#logo {
    margin: 0px auto;
    display: block;
}

#menu {
    text-align: center;
    font-family: 'Lucida Sans Unicode';
    font-size: 20px;
}

#menu a {
    color: black;
    text-decoration: none;
    margin: 0 15px;
    border: 1px solid orange;
    border-radius: 15px;
    transition: border 0.25s;
    margin: 10px;
    padding: 10px;
    display: inline-block;
    margin-right: 15px;
}

#menu a:hover {
    color: green;
}

#content {
    width: 75%;
    margin: 0 auto;
}

#content a:hover {
    color: green;
}

#content {
    text-align: center;
    font-family: 'Lucida Sans Unicode';
    font-size: 20px;
}

#range-price a {
    color: black;
    text-decoration: none;
    margin: 0 15px;
    border: 1px solid orange;
    border-radius: 15px;
    transition: border 0.25s;
    margin: 10px;
    padding: 10px;
    display: inline-block;
    margin-right: 15px;
}
