#info {
    text-align: center;
    font-size: 15px;
    margin-top: 20px;
    font-family: 'Lucida Sans Unicode';
}

#login-form  {
    text-align: center;
    font-size: 15px;
    margin-top: 35px;
}

#login-form input[type=text]{
     display: block;
     margin: 10px auto;
     width: 50%;
     font-size: 20px;
}

#login-form input[type=password]{
     display: block;
     margin: 10px auto;
     width: 50%;
     font-size: 20px;
}

#login-form textarea{
    width: 50%;
    font-size: 15px;
    resize: none;
    height: 200px;
}

#bold-title {
    font-weight: bold;
}

#bold-title2 {
    font-weight: bold;
}

.error-info {
    color: red;
}

