<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>fasty</title>
    <link rel="stylesheet" href="/main.css"/>
    <link rel="stylesheet" href="/commons.css"/>
</head>
<body>
<div th:replace="fragments.html :: zal-wyl"></div>
<div th:replace="fragments.html :: title"></div>
<div th:replace="fragments.html :: logo"></div>
<div th:replace="fragments.html :: menu"></div>
<div id="content">
    <div>BRAAAAWO MARIAN!! JUZ DO CIEBIE JADĘ!! AMU AMU MARIANIE!!</div>
</div>

</body>
</html>