<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>fasty</title>
    <link rel="stylesheet" href="/main.css"/>
    <link rel="stylesheet" href="/commons.css"/>
</head>
<body>
<div id="title">myAppMyFood</div>
<img src="/logo.png" alt="Logo" id="logo">
<div id="menu" class="menu-class">
    <a href="/main"><b>Strona główna</b></a>
    <a href="/contact"><b>Kontakt w razie Wu</b></a>
</div>
<div id="content">
        <div id="range-price">
            <a href="/orderaccepted">Do 20 PLN</a>
            <a href="/orderaccepted">Do 40 PLN</a>
            <a href="/orderaccepted">Do 60 PLN</a>
            <a href="/orderaccepted">Do 80 PLN</a>
            <a href="/orderaccepted">Do 100 PLN</a>
        </div>
</div>
</body>
</html>